body{
    height: 95vh;
    weight: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgba(100, 148, 237, 0.527);
    font-family: fantasy;
};